@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #28282B;
  color: azure;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {

  .navbar-icon {
      @apply relative flex items-center justify-center 
             h-12 w-12 mt-2 mx-2 mb-2 my-auto shadow-lg
             bg-gray-800 text-blue-500
             hover:bg-blue-600 hover:text-white
             rounded-3xl hover:rounded-xl
             transition-all duration-300 ease-linear
             cursor-pointer;
  }
}
